.gameOver {
  -fx-background-image: url("/images/fancyRedTexture.jpg");
  -fx-background-repeat: stretch;
  -fx-opacity: 0.85;
  -fx-background-size: 1300 800;
  -fx-background-position: center center;
}

.gameOverText {
  -fx-text-fill: #000000;
  -fx-font-family: "TagType";
  -fx-font-size: 90px;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.winningText {
  -fx-text-fill: #000000;
  -fx-font-family: "TagType";
  -fx-font-size: 60px;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.background {
  -fx-background-image: url("/images/pauseBackground.jpg");
  -fx-background-repeat: stretch;
  -fx-opacity: 0.85;
  -fx-background-size: 1300 800;
  -fx-background-position: center center;
}
.menu-button {
  -fx-background-color: #090a0c,
  linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
  linear-gradient(#20262b, #191d22),
  radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
  -fx-background-radius: 5, 4, 3, 5;
  -fx-background-insets: 0, 1, 2, 0;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
  -fx-font-family: "TagType";
  -fx-text-fill: linear-gradient(white, #d0d0d0);
  -fx-font-size: 25px;
  -fx-padding: 5 20 10 20;
}

.menu-button:hover {
  -fx-background-color: linear-gradient(from 0% 80% to 0% 100%, #11392B 20%, #07291E 100%),
  #2C4D42,
  radial-gradient(center 50% 50%, radius 100%, #11392B, #07291E);
}

.menu-button:pressed {
  -fx-padding: 10 15 13 15;
  -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.menu-button Text {
  -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 1, 0.0, 0, 1);
}

